<?xml version="1.0" encoding="UTF-8"?>
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <get-config>
     <source>
        <running/>
     </source>
     <filter type="subtree">
        <RRMPolicyRatio xmlns="urn:3gpp:sa5:3gpp-nr-nrm-nrnetwork-rrmpolicy">
		</RRMPolicyRatio>
      </filter>
  </get-config>
</rpc>]]>]]>